Source: debathena-zephyr-config
Section: debathena-config/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, config-package-dev (>= 5.0~), debhelper (>= 7.4.3~)
Standards-Version: 3.9.3

Package: debathena-zephyr-config
Architecture: all
# Workaround for zephyr:108 / Trac: #1298
Pre-Depends: debathena-hesiod-config
Depends: libzephyr4-krb5 | zephyr-clients (<< 3.0~), zephyr-clients (>= 3.0~) | libzephyr3-krb, zephyr-clients, debathena-kerberos-config, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Zephyr configuration for Debathena
 This package configures Zephyr for the Debathena system by setting up
 Zephyr to use Hesiod SLOC information to identify the zephyr servers.
 This package relies on a correct Hesiod configuration.  If you
 manually configure Hesiod, you are encouraged to also configure
 Zephyr manually, unless you know what you're doing.
